@media (max-width: 768px) {

  .contenedor_projects_principal_text {
    text-shadow: 10px 10px 4.5px rgba(102, 100, 100, 0.5);
  }

  .projects_text_title {
    color: rgb(100, 99, 99);
  }

  .projects_letra_me {
    color: #FDA310;
  }

  .holaa {
    color: red;
  }

  /* Modo oscuro */
  .dark-mode .holaa {
    color: white;
  }

  .projects-grid {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra las cards */
  gap: 20px;
  margin-top: 20px;
}


}
