.ComponentePrincipalBackgroundDark{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(70deg, rgb(253, 163, 16) 25%, rgb(45, 45, 45) 25%);
}
.ComponentePrincipalBackgroundLigth{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(70deg, rgb(253, 163, 16) 25%, rgb(248, 248, 248) 25%);
}