.download-button {
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(0, 0, 0); 
    border: 2px solid orange; 
    border-radius: 50px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 1s ease;
    width: 200px;
    height: 45px;
    font-size: 18px;
    text-align: center;
}

.download-button:hover {
    background-color: #fda210c8; 
}
.dark-mode .download-button{
    color: white;
}
@keyframes attentionShake {
  0% { transform: translateX(0); }
  2% { transform: translateX(-2px); }
  4% { transform: translateX(2px); }
  6% { transform: translateX(-2px); }
  8% { transform: translateX(2px); }
  10% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

.download-button.attention {
  animation: attentionShake 3s ease-in-out infinite;
}