body {
  background-color: #eae8e8; 
  color: #000;
}

.dark-mode {
  color: #fff; 
}


.theme-toggle {
  position: fixed;
  top: 20px; 
  right: 20px; 
  background-color: #d2d2d2;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.theme-toggle:hover {
  background-color: #b4b4b4; 
}

.dark-mode .theme-toggle {
  background-color: #515050; 
}
