.FondoPrinciaplApp {
    width: 100%;
    height: 100vh;    
  }
  
  .ComponentePrincipalBackgroundDark {
    background: linear-gradient(70deg, rgb(253, 163, 16) 25%, rgb(45, 45, 45) 25%);
    color: white;
  }
  
  .ComponentePrincipalBackgroundLigth {
    background: linear-gradient(70deg, rgb(253, 163, 16) 25%, rgb(248, 248, 248) 25%);
    color: black;
  }
  .ComponenteRouteBackgroundWhite {
    background: rgb(45, 45, 45);
    color: white;
  }
  .ComponenteRouteBackground {
    background: white;
    color: black;
  }
  .icon-white {
    color: white;    
  }
  .round-button-home {    
    position: absolute;
    right: 2%;
    top: 20%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbc9c9;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .round-button-home:hover {
    background-color: rgb(253, 163, 16);
  }
  
  .round-button-home svg {
    color: white;
    width: 40px;
    height: 40px;
  }
  .round-button-about {    
    position: absolute;
    right: 2%;
    top: 28%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbc9c9;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .round-button-about:hover {
    background-color: rgb(253, 163, 16);
  }
  
  .round-button-about svg {
    color: white;
    width: 40px;
    height: 40px;
  }
  .round-button-portfolio {    
    position: absolute;
    right: 2%;
    top: 36%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbc9c9;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .round-button-portfolio:hover {
    background-color: rgb(253, 163, 16);
  }  
  .round-button-portfolio svg {
    color: white;
    width: 40px;
    height: 40px;
  }
  .round-button-contact {    
    position: absolute;
    right: 2%;
    top: 44%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbc9c9;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .round-button-contact:hover {
    background-color: rgb(253, 163, 16);
  }
  
  .round-button-contact svg {
    color: white;
    width: 40px;
    height: 40px;
  }