.FondoPrinciaplApp {
    width: 100vw;
    height: 100vh;    
  }
  
  .ComponentePrincipalBackgroundDark {
    background: linear-gradient(70deg, rgb(253, 163, 16) 25%, rgb(56, 56, 56) 25%);
    color: white;
  }
  
  .ComponentePrincipalBackgroundLigth {
    background: linear-gradient(70deg, rgb(253, 163, 16) 25%, rgb(248, 248, 248) 25%);
    color: black;
  }
  .ComponenteRouteBackgroundWhite {
    background: rgb(56, 56, 56);
    color: white;
  }
  .ComponenteRouteBackground {
    background: white;
    color: black;
  }
  .icon-white {
    color: white;    
  }
  .round-button-home {    
    margin-right: 2%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #565656;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .round-button-home:hover {
    background-color: rgb(253, 163, 16);
  }
  
  .round-button-home svg {
    color: white;
    width: 30px;
    height: 30px;
  }
  .round-button-home-light{
    margin-right: 2%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbc9c9;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .round-button-home-light:hover {
    background-color: rgb(253, 163, 16);
  }
  
  .round-button-home-light svg {
    color: white;
    width: 30px;
    height: 30px;
  }
  
  .menu-principal-page{ 
    margin-top: 15%;
    position: absolute;     
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-end;

  }